[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "OSCR-UI"
dependencies = [
  "PySide6>=6.6.0",
  "pyqtgraph>=0.13.4",
  "numpy>=1.26.1",
  "STO-OSCR>=2024.5b270",
  "OSCR-django-client>=2024.3b40",
]
requires-python = ">=3.10"
authors = []
maintainers = []
description = " Frontend for the OSCR parser."
readme = "README.md"
license = {file = "LICENSE"}
keywords = []
classifiers = [
  "Development Status :: 4 - Beta",
  "Programming Language :: Python"
]
dynamic = ["version"]

[project.optional-dependencies]
gui = []
cli = []

[project.urls]
Homepage = "https://github.com/STOCD/OSCR-UI"
Repository = "https://github.com/STOCD/OSCR-UI.git"
"Bug Tracker" = "https://github.com/STOCD/OSCR-UI/issues"

[tool.hatch.build.targets.wheel]
packages = ["."]

[project.scripts]
oscr = "main:Launcher.launch"

[tool.hatch.version]
path = "main.py"
pattern = "\\s*version = '(?P<version>.*)'"

[tool.black]
target-version = ['py38']
line-length = 110
