name: Build Linux Binary (PyInstaller)

on:
  workflow_dispatch:

jobs:
  build_binary_linux:
    name: Build Linux Binary (PyInstaller)
    runs-on: ${{matrix.os}}
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest"]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Cache pip dependencies
        uses: actions/cache@v4
        with:
          path: ~/.cache/pip/
          key: ${{ runner.os }}-pip-${{ hashFiles('pyproject.toml') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Install Python Dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install pyinstaller==6.10.0 PySide6==6.10.0 pyqtgraph==0.13.7 numpy==2.3.4 STO-OSCR==2025.8.10.0 OSCR-django-client==2025.7.19.0 pydantic==2.12.3

      - name: Build OSCR-UI Binary with PyInstaller
        run: |
          pyinstaller --name OSCR-UI --onedir main.py --add-data "assets:assets" --add-data "locales:locales" --icon "assets/oscr_icon_small.png" --windowed

      - uses: actions/upload-artifact@v4
        with:
          name: OSCR-UI-LinuxBinary
          path: dist/*
